{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

<div class="header pb-6 d-flex align-items-center" 
     style="min-height: 500px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white"> 
          Hello {{ current_user.username }}
        </h1>
        <p class="text-white mt-0 mb-5">With adding this Job, the company is fully responsible for responding to the submitted resumes /applications. Give an elaborate description of the 
          Job satisfying the details below.</p>
        </p>
       
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row justify-content-center">
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Add a Job Listing</h3>
            </div>
            <div class="col-4 text-right">
            </div>
          </div>
        </div>
        <div class="card-body">
          <form method="post" action="/add-job" enctype="multipart/form-data">
            <h6 class="heading-small text-muted mb-4">Job information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="job_category">Job Category</label>
                    <input type="text" id="job_category" name="job_category" class="form-control" placeholder="Job Category">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="job_name">Job Name</label>
                    <input type="text" id="job_name" name="job_name" class="form-control" placeholder="Job Name">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Company/ Organization information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="location">Address/Location</label>
                    <input id="location" name="location" class="form-control" placeholder="Location" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="company_name">Organization/ Company Name</label>
                    <input type="text" id="company" name="company" class="form-control" placeholder="Organization/Company Name">
                  </div>
                </div>
              </div>
              <!-- Add a field for company_logo (image file upload) -->
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="company_logo">Company Logo</label>
                    <input type="file" id="company_logo" name="company_logo" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="job_category">Company URL</label>
                  <input type="url" id="company_url" name="company_url" class="form-control" placeholder="Company Website Link">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="job_category">Application Deadline</label>
                  <input type="date" id="application_deadline" name="application_deadline" class="form-control" placeholder="Deadline">
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">Job Description (Include the Prerequisites/ Requirements one must have and Include in the resume submission!)</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <textarea rows="4" class="form-control description" name="description" placeholder="Job Description">{{ description }}</textarea>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "includes/footer.html" %}

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
