{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% include "includes/sidenav.html" %}

{% block content %}

<div class="card">
  <!-- Card header -->
  <div class="card-header border-0">
    <h3 class="mb-0">Available Internship Submissions</h3>
  </div>
  <!-- Light table -->
  <div class="table-responsive">
    <table class="table align-items-center table-flush">
       <thead class="thead-light">
        
        <tr>
          <th scope="col" class="sort" data-sort="name">{{fields[0]}}</th>
          <th scope="col" class="sort" data-sort="budget">{{fields[1]}}</th>
          <th scope="col" class="sort" data-sort="status">{{fields[2]}}</th>
          <th scope="col">{{fields[3]}}</th>
          <th scope="col"></th>
        </tr>
        
      </thead>
      <tbody class="list">
        {% for item in job_resume %}
        <tr>
          <td class="budget">
            {{item.intern_id}}
          </td>
          <td>
            <span class="badge badge-dot mr-4">
              <i class="bg-warning"></i>
              <span class="status">{{item.name}}</span>
            </span>
          </td>
          <td>
            <div class="media-body">
                <span class="name mb-0 text-sm">{{item.email}}</span>
              </div>
          </td>
          <td>
            <div class="media-body">
                <span class="name mb-0 text-sm">{{item.resume_file}}</span>
              </div>
          </td>
          <td class="text-right">
            <div class="dropdown">
              <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                <a class="dropdown-item" href="#">Export Data</a>
                <a class="dropdown-item" href="#">Download Resume PDF</a>
                 </div>
            </div>
          </td>
        </tr>
              {% endfor%}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
   </div>
</div>
</div>




{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}