<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <div class="col-auto">
        <!-- Avatar -->
        <img alt="" src="static/user/img/career2.png" class="avatar rounded-circle">
      </div>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'available-jobs' in segment %} active {% endif %}" href="/available-jobs">
              <!--i class="ni ni-single-02 text-yellow"></i-->
              <i class="ni ni-planet text-orange"></i>
              <span class="nav-link-text">Available Job Listings</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'available-internships' in segment %} active {% endif %}" href="/available-internships">
              <i class="ni ni-planet text-orange"></i>
              <span class="nav-link-text">Avaliable Internship Programs</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'add-job' in segment %} active {% endif %}" href="/add-job">
              <!--i class="ni ni-pin-3 text-primary"></i-->
              <i class="ni ni-single-02 text-yellow"></i>
              <span class="nav-link-text">Add Job Listing</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'add-intern' in segment %} active {% endif %}" href="/add-intern">
              <i class="ni ni-single-02 text-yellow"></i>
              <span class="nav-link-text">Add Internship Program</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'job-resumes' in segment %} active {% endif %}" href="/job-resumes">
              <i class="ni ni-bullet-list-67 text-default"></i>
              <span class="nav-link-text">Submitted Job Resumes</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'intern-resumes' in segment %} active {% endif %}" href="/intern-resumes">
              <!--i class="ni ni-key-25 text-info"></i-->
              <i class="ni ni-bullet-list-67 text-default"></i>
              <span class="nav-link-text">Submitted Internship Resumes</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('authentication_blueprint.logout') }}">
              <i class="ni ni-user-run text-red"></i>
              <span class="nav-link-text">Logout</span>
            </a>
          </li>            
        </ul>
      </div>
    </div>
  </div>
</nav>